
.shopping_cart_icon{
    width: 40px;
    height: 40px;  
    padding: 10px;
}

.shopping_cart_icon:hover{
    background-color: white;
    border-radius: 20%;
}

.store_logo_icon{
    width: 180px;
    height: 70px;  
    padding: 5px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.text{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 16px;
}

.text:hover{
    color: #e54b0e;
}

.shopping_widget{
display: flex;
align-items: flex-end;
margin-right: 20px;
}