
.shopping_cart_icon{
    width: 30px;
    height: 30px;  
    padding: 10px;
    margin-right: 20px;
}

.shopping_cart_icon:hover{
    background-color: white;
    border-radius: 20%;
}

.store_logo_icon{
    width: 180px;
    height: 70px;  
    padding: 5px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 10px;
}

.text{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.text:hover{
    color: #e54b0e;
}